<!--Footer Section Start(Zenil) -->
<footer class="footer" id="contact">
    <div class="background-shapes">
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
    </div>
    <div class="footer-list">
        <div class="footer-data" style="display: flex; flex-direction: column; align-items: center;">
            <div class="logo" style="max-width: 200px; margin-bottom: 1rem;">
                <img src="logo.png" alt="Logo" style="max-width: 100%; max-height: 100%; object-fit: contain;">
            </div>
            <div class="footer-data-social">
                <a href="https://www.facebook.com/share/16DUTQtmbd/?mibextid=wwXIfr" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/the_threading_house?igsh=dmQ4ejl1OHE0aHdq&utm_source=qr" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-data">
            <h2>Address</h2>
            <p>843 W Monroe St, <br> Chicago, IL 60607</p>
        </div>
        <div class="footer-data">
            <h2>We Opened</h2>
            <p>Monday To Friday <br> From 11AM To 07PM</p>
            <p>Saturday <br> From 10AM To 04PM</p>
            <p>Sunday <br> From 11AM To 04PM</p>
        </div>
        <div class="footer-data">
            <h2>Contact</h2>
            <p>+1 (312)624-8007</p>
            <p></p>
        </div>
    </div>
    <div class="copy">
        <p>&copy; 2025 The Threading House, All rights reserved.</p>
        <span>Created with <i class="fa fa-heart" style="font-size: 12px;"></i> By DP&Z</span>
    </div>
</footer>
<!--Footer Section End  -->