<section class="gallery" id="gallery">
  <div class="background-shapes">
    <div class="shape shape-7"></div>
    <div class="shape shape-8"></div>
  </div>
  <div class="gallery-content">
    <div class="section-title">
      <h1>Gallery</h1>
      <span>The princesses of our instagram</span>
    </div>
    <div class="gallery-list-img-container">
      <div class="gallery-list-img">
        <!-- Gallery Item 1 -->
        <div class="gallery-img">
          <img src="owner.jpg" alt="Gallery image 1">
        </div>

        <!-- Gallery Item 2 -->
        <div class="gallery-img">
          <img src="thread-2.jpg" alt="Gallery image 2">
        </div>

        <!-- Gallery Item 3 -->
        <div class="gallery-img">
          <img src="thread-4.jpg" alt="Gallery image 3">
        </div>

        <!-- Gallery Item 4 -->
        <div class="gallery-img">
          <img src="thread-6.jpg" alt="Gallery image 4">
        </div>

        <!-- Gallery Item 5 -->
        <div class="gallery-img">
          <img src="thread-2.png" alt="Gallery image 5">
        </div>

        <!-- Gallery Item 6 -->
        <div class="gallery-img">
          <img src="gallery-8.jpg" alt="Gallery image 6">
        </div>

        <!-- Gallery Item 7 -->
        <div class="gallery-img">
          <img src="gallery-7.jpg" alt="Gallery image 7">
        </div>

        <!-- Gallery Item 8 -->
        <div class="gallery-img">
          <img src="thread-1.png" alt="Gallery image 8">
        </div>

        <button class="btn" (click)="onSeeMore()">See More</button>
        
      </div>
      <div *ngIf="isSeeMore" class="footer-data-social" id="socialIcons">
        <a href="https://www.facebook.com/share/16DUTQtmbd/?mibextid=wwXIfr" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>&nbsp;&nbsp;
        <a href="https://www.instagram.com/the_threading_house?igsh=dmQ4ejl1OHE0aHdq&utm_source=qr" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- new -->

</section>