<div>
  <div>
    <!-- Navbar Section -->
    <app-nab-bar></app-nab-bar>
  </div>
  <div>
    <!-- Home Section -->
    <app-home-section></app-home-section>
  </div>
  <!-- Shared background container for About and Services -->
  <!-- <div class="shared-background-container" style="background-image: url('/about-bac-img.png');"> -->
  <!-- About Section -->
  <div>
    <app-about></app-about>
  </div>

  <!-- Services Section -->
  <!-- <div>
      <app-services></app-services>
    </div> -->
  <!-- </div> -->
  <div>
    <!-- Package Section -->
    <app-package></app-package>
  </div>
  <div>
    <!-- Gallery Section -->
    <app-gallery></app-gallery>
  </div>
  <div>
    <!-- Testimonials Section -->
    <app-testimonials></app-testimonials>
  </div>
  <div>
    <!-- Contact Section -->
    <app-contact></app-contact>
  </div>
</div>