/* src\styles.css */
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {
    --header-height: 5rem;
    /* --main-color: #222222; */
    /* --main-color: #121212; */
    --main-color: rgba(18, 18, 18, 0.8);
    /* Dark background */
    --first-color: #d4af37;
    /* Gold */
    --second-color: #a8a8a8;
    /* Grey */
    --white-color: #fff;
    --black-color: #000;

    --font-cursive: 'Great Vibes', cursive;
    --font-body: 'Montserrat', sans-serif;

    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

    /* Glass effect variables */
    /* --glass-bg: rgba(34, 34, 34, 0.6); */
    /* --glass-border: rgba(255, 255, 255, 0.08); */
    /* --glass-highlight: rgba(255, 255, 255, 0.05); */

    --glass-bg: rgba(28, 28, 32, 0.6);
    /* Transparent dark background */
    --glass-border: rgba(255, 255, 255, 0.08);
    --glass-highlight: rgba(255, 255, 255, 0.05);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black-color);
    font-size: var(--normal-font-size);
    font-family: var(--font-body);
    overflow-x: hidden;
    color: var(--white-color);
}

.btn {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--first-color);
    color: var(--black-color);
    border: 1px solid var(--first-color);
    border-radius: 50px;
    font-size: var(--normal-font-size);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn:hover {
    background-color: transparent;
    color: var(--first-color);
}

.btn-outline {
    width: 280px;
    background-color: transparent;
    color: var(--first-color);
    padding: 5px 10px 5px 0;
    transition: all 0.4s ease;
    position: relative;
    cursor: pointer;
}

.btn-outline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}

.btn-outline i {
    margin-right: 1.5rem;
    font-size: var(--h3-font-size);
    color: var(--black-color);
    z-index: 10;
}

.btn-outline:hover::before {
    width: 100%;
    z-index: -1;
}

.btn-outline:hover {
    color: var(--black-color);
    z-index: 10;
}